<h1>Edit User</h1>

<form action='/users/{{user._id}}?_method=PUT' method='POST'>
  <div>Username: <input type='text' name='username' value='{{user.name}}'></div>
  <div>City: <input type=' text' name='city' value='{{user.city}}'></div>
 <div>Zipcode: <input type='number' name='' value='{{user.zipcode}}'></div>
    <div>Fav Park: <input type='text' name=''value='{{user.favParks}}'></div>
  <div><input type='submit' value='Update User'></div>
</form>
